<?xml version ="1.0"?>
<robot name = "punet_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <xacro:property name="base_length" value="0.6" />
    <xacro:property name="base_width" value="0.4" />
    <xacro:property name="base_height" value="0.2" />

    <xacro:property name="wheel_width" value="0.05" />
    <xacro:property name="wheel_radius" value="0.1" />

   
    <xacro:include filename="common_properties.xacro" />
    <xacro:include filename="mobile_base.xacro" />
    <xacro:include filename="mobile_base_gazebo.xacro" />

    <xacro:include filename="camera.xacro" />

</robot>